In [ ]:
import matplotlib
matplotlib.rcParams['figure.figsize'] = (15,10)

In [ ]:
# Bibliotecas
import matplotlib.pyplot as plt
import tifffile as tif
import pandas as pd
import numpy as np
import datetime

In [ ]:
# Leitura do cubo multitemporal
img = tif.imread('ndviMODIS.tif')

In [ ]:
# Dimensões do cubo
img.shape

(789, 696, 552)

In [ ]:
# Criando intervalo de tempo
data = pd.date_range(start='2001-06-01', end='2013-06-30', freq='8D')

In [ ]:
# Extraindo média e mediana de cada cena
media = [np.nanmean(img[:,:,i]) for i in range(img.shape[2])]
mediana = [np.nanmedian(img[:,:,i]) for i in range(img.shape[2])]

In [ ]:
# Convertendo resultado para Pandas DataFrame
df = pd.DataFrame(media, columns=['Média'])
df['Mediana'] = mediana
df['Data'] = data

In [ ]:
# Resultado
df.head()

      Média   Mediana       Data
0  0.739565  0.787527 2001-06-01
1  0.578369  0.606867 2001-06-09
2  0.791244  0.828360 2001-06-17
3  0.656980  0.692890 2001-06-25
4  0.749027  0.786340 2001-07-03